/* General btn */
h1{
    font-size: large;
}
h6{
    margin: 5px;
}
/* div{
    border: black solid 1px;
} */

main{
    /* display: grid;
    grid-template-rows: 50% 20%; */
}
.main-container{
    display: grid;
    grid-template-columns: 95% auto;
}
.canvas-container{
    width: 90%;
    height: 90%;
    /* position: absolute;
    top: 0;
    left: 0; */
}
/* second-layer */
#in3dspace{
    width: 100vw;
    height: 100vh;
}

.btn-show-container{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    right: 10%;
    display: flow-root;
    align-items: center;
    text-align: center;
    padding-top: 50%;
}

.btn-vd{
    height: 50px;
    border: red;
    border-radius: 50%;
    color: rgb(7, 7, 7);
    background-color: rgb(48, 128, 248);
}

.btn-vd:hover{
    background-color: rgb(173, 9, 9);
    color: #4CAF50;
}