/* General btn */
header{
    margin: 10px;
    text-align: center;
    display: none;
}
h1{
    font-size: large;
}
h6{
    margin: 5px;
}
/* div{
    border: black solid 1px;
} */
.button-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px 1px 0px 1px;
}
button{
    width: 80px;
    height: 30px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(66, 1, 1);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    line-height:25px;
    opacity: 0.5;
    margin:0px 1px 0px 1px;
}

button:hover {
    background-color: #025505;
    color: rgb(252, 156, 156);
    opacity: 1;
}


main{
    /* display: grid;
    grid-template-rows: 50% 20%; */
}
.main-container{
    display: grid;
    grid-template-columns: 95% auto;
}
.canvas-container{
    width: 90%;
    height: 90%;
    /* position: absolute;
    top: 0;
    left: 0; */
}
/* second-layer */
#in3dspace{
    width: 100vw;
    height: 100vh;
}

.btn-show-container{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    right: 10%;
    display: flow-root;
    align-items: center;
    text-align: center;
    padding-top: 50%;
}

.btn-vd{
    height: 50px;
    border: red;
    border-radius: 50%;
    color: rgb(7, 7, 7);
    background-color: rgb(48, 128, 248);
}

.btn-vd:hover{
    background-color: rgb(173, 9, 9);
    color: #4CAF50;
}